.nav {
    background-color: dodgerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0px 20px;
}

.nav__left > h2 {
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s;
}

.nav__left > h2:hover {
    transform: scale(1.2);
}

.nav__buttons {
    margin-left: 10px;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    background-color: red;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: all 1s;
}

.nav__buttons:hover {
    background-color: purple;
}
